body {
  font-family: "Circular";
}

main {
  .left-icons {
    color: rgb(179, 179, 179);
    cursor: pointer;
    display: flex;
    margin-bottom: 20px;
    svg {
      margin-right: 20px;
      height: 24px;
      width: 24px;
    }
    p {
      margin: 0;
    }
    img {
      margin-right: 20px;
      height: 24px;
      width: 24px;
      border-radius: 3px;
    }
    .bookmark-icon {
      margin-right: 20px;
      height: 24px;
      width: 24px;
      border-radius: 3px;
      background-color: #004537;
      display: flex;
      justify-content: center;
      svg {
        color: #129644;
        width: 13px;
        margin: 0;
      }
    }
  }
  .left-icons:hover {
    color: white;
  }
  /* .right-section {
    .friends-activity {
      p {
        font-weight: 500;
        color: white;
        margin: 0;
      }
      svg {
        color: rgb(179, 179, 179);
      }
    }
  } */
}

.icons-right-side {
  list-style: none;
}
.friend-image {
  border-radius: 50%;
  width: 3rem;
  padding-inline-end: 5px;
}

.session-time {
  font-size: 0.7rem;
}

.card-title {
  font-size: 1rem;
}

.album-section {
  padding: 0;
  margin: 0;
}
.card-body {
  padding: 0;
}
